@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html{
	height:100%;
}

body{
	font-family: 'Roboto' sans-serif;
	font-size:12px;
	background-color: #F9F9F9;
	height:100%;
	/*color:#333;*/
/*	color:#030073;*/
	color:#7B67B5;
}

header{

}

h4{
	font-size: 1.2em;
	letter-spacing: .2em;
}

h1{
	font-size: 3.75em;
	letter-spacing: .2em;
}

h2{
	font-size: 1.6em;
	line-height: 1.618em;
	letter-spacing: .05em;
	margin:0 0 1em;
}

h3{
	font-size: 1.2em;
	line-height: 1.618em;
}

span{
	font-weight: 700;
	margin:0 .75em 0 0;
}

hr{
	border:none;
	height:.25em;
	background-color: #FF3221;
	width:3em;
	margin:2em 0;
}

a{
	text-decoration: none;
/*	color:#030073;*/
	color:#7B67B5;
}

a:hover{
	color:#FF3221;
}

p{
	font-family: 'Playfair', serif;
	font-size: 1.2em;
	line-height: 1.7em;
	margin:0 0 2em;
}

ul{
	margin:.5em 0 0;
}

li a{
	font-size: 1.2em;
	line-height: 1.6em;
}

main{

}

article{
	background-color: #fff;
	padding:6em 6em 4em;
	margin:0 0 4em;
}

figure{
	width:100%;
	margin:0 auto 3em;
}

figure img{
	width:100%;
}

img{
	display: block;
	max-height: 100%;
    max-width: 100%;
}




.clearfix:after{
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	content:" ";
	clear:both;
}

/* --------------------------------------------------- index classes */

.page_wrap{
	width:80%;
	margin:auto;
	position: relative;
	overflow: auto;
}

.box{
	width:50%;
	float:left;
	position: relative;
}

.box:hover{
/*	border: 10px solid rgba(3,0,115,0);*/
}

.vert{
	 padding-top: 100%; /* forces 1:1 aspect ratio */
}

.thumbnail{
	width:80%;
	margin:0 auto;
	max-width: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.thumbnail:before{
	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.thumbnail img{
	width:100%;
	max-width: 100%;
	max-height: 100%;   
	margin:auto;
	display: inline-block;
    vertical-align: middle;
    font: 10px/1 'Roboto' sans-serif; 
}

/* --------------------------------------------------- page classes */

.figures{
	margin: auto;
	padding:0 0 6em;
}


.project-info{
	width:35%;
	max-width:400px;
	float:left;
	margin:0 0 2em;
}

.project-desc{
	width:60%;
	max-width:600px;
	float:left;
	margin:0 5% 2em 0;
}

#half{
	position: fixed;
	width:50%;
	height:100%;
/*	background-color: #DFFDF5;*/
background-color: #fff;
}

#me{
	background:url("assets/me.jpeg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	max-width:100%;
	height:100%;
}

#logo{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: fixed;
	top:20em;
	left:-19.3em;
}

#info{
	float: right;
	margin:1em .75em 0 0;
}

#page-header, #page-footer{
	width:100%;
	position: fixed;
	z-index: 1;
}

#page-footer{
	bottom:0;
}

#circle{
	width:2em;
	height:2em;
	float:right;
	border:2px solid #7B67B5;
	border-radius: 200%;
	margin:0 1.5em 1.5em 0;
}

#circle:hover{
	border:2px solid #FF3221;
}

#about{
	text-align: center;
	font-weight: 700;
	padding:0 0 0 .2em;
	line-height: 1.618em;
}

#bio{
	background-color: #fff;
	padding:3%;
	position: absolute;
	width:25%;
	bottom:0;
	right:0;
}


@media screen and (max-width: 1240px){
	.figures{
		margin:auto;
	}
}

@media screen and (max-width: 1040px){

	body{
		background-color: #F9F9F9;
	}

	h1{
		font-size: 3.75em;
		text-align: center;
	}
	article{
		width:100%;
	}

	main{
		margin: 4em 0 5%;
	}

	.vert{
		padding-top: 0; 
	}

	.thumbnail{
		width:100%;
		max-width: 750px;
		margin:7em auto;
	    position: static;
	}

	.thumbnail:before{
		content: ' ';
	    display: block;
	    vertical-align: middle; 
	    height: auto;
	}

	.thumbnail img{
		display: block;
	}

	.box{
		float:none;
		width:90%;
		margin: 3.5em auto;
	}

	.project-info{
		width:100%;
		max-width: 100%;
		float:none;
	}

	.project-desc{
		width:100%;
		max-width: 100%;
		float:none;
	}

	#half{
		display: none;
		height:0;
		visibility: hidden;
	}

	#page-header{
		margin:1% 0 1%;
	}




}

@media screen and (max-width:960px){

}

@media screen and (max-width: 670px){
	main{
		margin: 8em 0;
	}

	article{
		background-color: #F9F9F9;
		margin:6em 0 4em;
		padding:5em 6em 0;
	}

	figure{
		width:100%;
	}

	.page_wrap{
		width:100%;
		margin:auto;
	}

	#page-header{
		margin:0;
	}

	#logo{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		position: static;
		margin:-0.55em 0 0;
	}

	#info{
		float: none;
		margin:1em 0 0;
		text-align: center;
	}

}

@media screen and (max-width: 530px){
	h1{
		font-size: 2.75em;
	}

	main{
		margin: 6em 0;
	}

	article{
		padding:3em 3em 0;
	}


	#logo{
		margin:-0.35em 0 0;
	}
}