@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

html{
	height:100%;
}

body{
	font-family: 'Inconsolata', sans-serif;
	font-size:12px;
	background-color: #F9F9F9;
	height:100%;
	color:#333;
}

header{

}

h1, 
h2,
h3,
h4{
	font-family: 'Karla', sans-serif;
	font-weight: 700;
}

h1{
	font-size: 1.3em;
	letter-spacing: .15em;
}

h2{
    font-family: 'Karla', sans-serif;
    font-size: 2.6em;
    
    line-height: 1.618em;
    letter-spacing: .05em;
    margin: 0 0 1em;
}

h1 a, h4 a{
	font-family: 'Karla';
	font-weight: 800;
	border-bottom:none;
	text-transform: uppercase;
}

h1 a:hover{
	border-bottom: 1px solid #7B67B5;
}

h3{
	font-size: 1.3em;
	line-height: 1.618em;
}

h4{
	font-size: 1.3em;
	letter-spacing: .2em;
}

h5{
	font-size: 1.3em;
	background-color: #fff;
	position: absolute;
	text-align: center;
	width:67%;
	padding:10%;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -60%);
	-moz-transform:translate(-50%, -60%);
	-o-transform:translate(-50%, -60%);
	transform:translate(-50%, -60%);

	display: none;
}

span{
	font-weight: 700;
	margin:0 .75em 0 0;
}

hr{
	border:none;
	height:.25em;
	background-color: #F9F9F9;
	width:3em;
	margin:2em 0;
}

a{
	text-decoration: none;
	border-bottom:1px dotted #333;
	color:inherit
}

a:hover{
	color:#7B67B5;
	border-bottom:1px dotted #7B67B5;
}

a:active{
	color:inherit;
}

a:visited{
	color:inherit;
}

p{
	font-weight:400;
	font-size: 1.3em;
	line-height: 1.7em;
	margin:0 0 2em;

}

ul{
	/*margin:.5em 0 0;*/
}

li{
	font-size: 1.3em;
	line-height: 1.8em;
}

li a{
	font-size: 1em;
	line-height: 1.8em;
}

main{

}

article{
	width:100%;
/*	max-width:600px;*/
	margin:0 auto 2em;
	background-color: #fff;
	padding:3em 5% 2em;
}

/*
aside{
	width:45%;
	max-width:400px;
	margin:0 2.5% 2em;
}*/

main, aside{
	
	
	float:left;
	width:50%;
/*	max-width:400px;*/
	padding:0 5% 2em 0;
/*	-webkit-box-shadow: 10px 10px 0px 0px rgba(123,103,181,0.9);
	-moz-box-shadow: 10px 10px 0px 0px rgba(123,103,181,0.9);
	box-shadow: 10px 10px 0px 0px rgba(123,103,181,0.9);*/
}

article:hover{
	-webkit-box-shadow: 10px 10px 0px 0px rgba(123,103,181,.2);
/*	-moz-box-shadow: 10px 10px 0px 0px rgba(123,103,181,1);
	box-shadow: 10px 10px 0px 0px rgba(123,103,181,1);*/
}

figure{
	width:100%;
	margin:0 auto 2em;
	position: relative;
}

img{
	display: block;
	max-height: 100%;
	width:100%;
    max-width: 100%;
}

footer{
	bottom:0;
	width:100%;
	position:fixed;
	z-index:1;
	margin:0;
}

.clearfix:after{
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	content:" ";
	clear:both;
}



/* --------------------------------------------------- index classes */

.page-wrap{
	width:100%;
	margin:auto;
	position:relative;
	overflow:auto;
}

.thumb{
	width:40%;
	margin:0 5%;
	float:left;
	padding:5%;
	position: relative;
}

.thumb:hover > h5{
	display: block;
}

.thumb:active > h5{
	display: block;
}


/* --------------------------------------------------- page classes */

.project-wrap{
	width:80%;
	margin:0 auto;
	padding:4em 0 0;
}



/* --------------------------------------------------- all IDs */
#page-header{
	width:100%;
	position:fixed;
	z-index:1;
	margin:0;
}

#logo{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: fixed;
	top:9em;
	left:-6.5em;
}

#info{
	position: absolute;
	right:0;
/*	margin:1em .75em 0 0;*/
	padding:1em;
	background-color: #F9F9F9;
}

#circle{
	width:2em;
	height:2em;
	float:right;
	border:2px solid #7B67B5;
	border-radius: 200%;
	margin:0 1.5em 1.5em 0;
}

#circle:hover{
	background-color:#7B67B5;
	color:#fff;
}

#about{
	text-align: center;
	font-weight:700;
	padding:0 0 0 .2em;
	line-height: 1.4em;
}

/* --------------------------------------------------- index IDs */

#half{
	background-color:#fff;
	position:fixed;
	width:50%;
	height:100%;
}

/* --------------------------------------------------- about IDs */

#me{
	background:url("assets/me.jpeg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
/*	max-width:100%;*/
	height:100%;
}

#bio{
	background-color: #fff;
	padding:3%;
	float:right;
	width:25%;
	min-width: 350px;
	margin:1.5em 2em 0 0 ;
	-webkit-box-shadow: 10px 10px 0px 0px rgba(123,103,181,0.9);
	-moz-box-shadow: 10px 10px 0px 0px rgba(123,103,181,0.9);
	box-shadow: 10px 10px 0px 0px rgba(123,103,181,0.9);
}

@media screen and (max-width:1219px){
	article{
		width:45%;
	}	

	aside{
		width:50%;
	}
}

@media screen and (max-width:1040px){
	body{
		background-color: #F9F9F9;
	}

	header{
		margin:1% 0 1%;
	}

	.thumb{
		float:none;
		width:90%;
		margin:.5em auto 0;
	}

	#half{
		display: none;
		height:0;
		visibility: hidden;
	}
}

@media screen and (max-width: 870px){
	article, aside{
		width:99%;
		max-width:100%;
		margin:3em 0;
		float:none;
	}

	.project-wrap{
		padding:1em 0;
	}
}


@media screen and (max-width: 670px){
	header{
		margin:0;
	}

	h1{
		font-size: 2.75em;
		/*font-size: 3.75em;*/
		text-align: center;
	}

	article, aside{
		padding:5em 6em 3em;
	}

	figure{
		width:100%;
	}

	footer{
		position:static;
		margin:2em 0;
	}

	.page-wrap{
		width:100%;
		margin:auto;
	}

	.thumb{
		margin: 0 auto 1em;
	}

	.project-wrap{
		width:90%;
		padding:0;
	}

	#page-header{
		position:static;
	}

	#logo{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		position: static;
		margin:0;
	}

	#info{
		float: none;
		margin:.5em 0 0;
		text-align: center;
		position: static;
	}

	#circle{
		float:none;
		margin:0 auto;
	}

	#me{
		height:165%;
	}

	#bio{
		width:85%;
		float:none;
		margin:100% auto 0;
		min-width: 290px;
	}
}

@media screen and (max-width: 530px){
/*	h1{
		font-size: 2.75em;
	}*/

	article, aside{
		width:93%;
		margin:3em 0 3em 2.5%;
		padding:3em;
	}

	.project-wrap, .thumb{
		width:100%;
	}
}