html{
	height:100%;
}

body{
	font-family: Arial;
	font-size:10px;
	background-color: #FFFDFD;
	min-height:100%;
}

h1{
	text-transform: uppercase;
}

h1, h4{
	font-size: 1.2em;
	letter-spacing: .1em;
}

h2{
	font-size: 3em;
	font-weight: 700;
}

h3{
	font-size: 1.4em;
	line-height: 1.618em;
	font-weight: 600;
}

hr{
	border:none;
	height:.25em;
	background-color: #DFFDF5;
	width:3em;
	margin:2em 0;
}

a{
	text-decoration: none;
	color:#551A8B;
}

p{
	font-family: Georgia, serif;
	font-size: 1.6em;
	line-height: 1.7em;
}

ul{
	margin:1em 0;
}

li a{
	font-family: Georgia, serif;
	font-size: 1.6em;
	line-height: 1.8em;
}

main{

}

article{
	padding:7em 0;
	position: relative;
}

figure{
	width:80%;
	margin:0 auto 3em;
}

figure img{
	width:100%;
}

img{
	display: block;
}




.clearfix:after{
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	content:" ";
	clear:both;
}

/* --------------------------------------------------- index classes */

.page_wrap{
	width:80%;
	margin:auto;
}

.box{
	width:50%;
	float:left;
	position: relative;
}

.vert{
	 padding-top: 100%; /* forces 1:1 aspect ratio */
}

.thumbnail{
	width:80%;
	margin:0 auto;
	max-width: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.thumbnail:before{
	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.thumbnail img{
	width:100%;
	max-width: 100%;
	max-height: 100%;   
	margin:auto;
	display: inline-block;
    vertical-align: middle;
    font: 10px/1 Arial sans-serif; 
}

/* --------------------------------------------------- page classes */

/*.relative{
	position: relative;
}*/

.fixed{
/*	position: fixed;*/
}

.col_left{
	position: fixed;
	width:33%;
}

.col_right{
	margin-left:40%;
	width:65%;
}

.project-desc{
	margin:1.5em 0;
}

#half{
	position: fixed;
	width:50%;
	height:100%;
	background-color: #DFFDF5;
}

/*#me{
	background: url("assets/me.jpeg");
	background-size:cover;
}*/

#logo{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: fixed;
	top:9em;
	left:-5em;
}

#info{
	float: right;
	margin:1.5em 1.5em 0 0;
}

#page-header, #page-footer{
	width:100%;
	position: fixed;
	z-index: 1;
}


#page-footer{
	bottom:0;
}

#circle{
	width:2em;
	height:2em;
	float:right;
	border:1px solid #551A8B;
	border-radius: 200%;
	margin:0 1.5em 1.5em 0;
}

#about{
	text-align: center;
	line-height: 1.618em;
}

@media screen and (max-width: 1040px){
	.col_left{
		position: static;
		width:80%;
		margin:auto;
	}

	.col_right{
		width:100%;
		margin:3em auto;
	}
}

@media screen and (max-width: 900px){
	body{
		border: 1px solid #551A8B;
	}

	.thumbnail{
		width:100%;
		margin:7em auto;
	}

	.box{
		float:none;
		width:90%;
		margin:auto;
	}



	#half{
		background-color: #FFFDFD;
		display: none;
	}
}

@media screen and (max-width: 670px){
	.page_wrap{
		width:100%;
		margin:auto;
	}


}

@media screen and (max-width: 427px){
	figure{
		width:100%;
	}
}