body{
	background-color:#EBF4FA;
	font-family: 'Karla', serif;
	font-size:16px;
	color:#565051;
}

main{
	width:65%;
	margin:3em auto;
}

section{
	margin:1em auto;
}

section:hover{
	background-color:#ffffff;
	color:#565051;
}

figure{
	float:left;
	width:50%;
}

figure img{
	width:100%;
}

figcaption{
	position: relative;
	margin:.25em 0 0 0;
}

h1{	
	margin:2em 0 0 1em;
	font-size:2.617924em;
	font-weight:600;
	color:#565051;
}

h2, h3{
	color:#8E8AE5;
}

h2{
	margin:0 0 0.5em 0;
	font-size:1.618em;
}

h3{
	width:100%;
	padding:0 0 0.75em 0;
	font-size: 1em;
	text-transform:uppercase;
	letter-spacing:.125em;
}


ul{
	padding:0.5em 1.125em;
}

li{
	list-style: square;
	padding:.25em;

}

a{	
	text-decoration: none;
	color:#565051;
}

h3 + ul{
	margin:0 0 2em 0;
}

.info{
	width:46%;
	padding-left:4%;
	float:right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}