/* ----------------------------------- HEADER ------- */

/* logo */
img{
margin:30px;
}

/* title */
h1.title{
margin:0px;
font-size:36px;
color:#000;
}

/* time zone */
div.timeZone{
width:300px;
margin:10px auto 60px;
padding:10px;
font-size:24px;
background-color: #ffdb00 !important;
color: #000 !important;
}


/* ----------------------------------- MAIN ------- */
/*main content*/
div.main{
margin:30px auto !important;
clear:both !important;
}

/*columns*/
div.gridDay.wideCol{
width:180px;
margin:0 5px;
}

/* column headers */
div.gridHeader{
text-transform:uppercase;
letter-spacing:1px;
background-color:#000 !important;
}

/* dates, free times, taken times */
div.gridHeader, div.gridFree, div.gridHighlight:hover, div.gridBusy{
padding:10px;
}

/* free times */
div.gridFree {
background-color: #fff  !important;
color: #000 !important;
}

/* free times hover */
div.gridHighlight:hover{
background-color: #ffdb00  !important;
}

/* free times font */
div.gridFree a, div.gridHighlight:hover a:link, div.gridHighlight:hover a:active, div.gridHighlight:hover a:visited{
color: #000 !important;
text-decoration:none;
}


/* ----------------------------------- FORM ------- */
/*entire form*/
div.bookingForm{
width:500px;
}

/*date*/
div.itemContent p{
font-size:24px;
background-color: #ffdb00 !important;
color: #000 !important;
padding:10px;
}

/*input titles*/
div.itemLabel p{
text-transform:uppercase;
color: #000 !important;
margin:15px 0 5px;
}

/*input containers*/
div.itemContent, input.dialogueText, textarea.dialogueTextArea, div.kaptcha{
margin:0;
width:100% !important;
max-width:100% !important;
padding:5px;
}

/*input entry text*/
input.dialogueText{
font-family:Arial !important;
}

/*captcha*/
div.kaptchaResponse{
margin:0 0 30px;
}

/*buttons*/
button{
float:right;
padding:10px;
background-color:#000 !important;
color:#fff !important;
border:none;
letter-spacing:1px;
text-transform:uppercase;
margin:0 0 30px 10px;
font-weight:400;
}

button:hover{
background-color:#ffdb00 !important;
color:#000 !important;
font-weight:400;
}