/*

// Be The Best Nerd You Can Be

What Can SublimeText do for us in CSS? 
    1) color-related markup hints
    2) shortcuts & suggestions
    3) comment out code

*/


body{
	background-color: #151B54;
	color:#ffffff; 
	font-family: 'Helvetica';
}

h1{
	font-size: 100px;
	color: #FFFF00;
}

h2{
	
}

h3{
	
}

p{

}