@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
/*	move bkgd image to landing*/
	background: url("../assets/record.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#ffffff; 
	font-family: 'Droid Serif', serif;
}

nav{

}


li{
	display: inline;
	padding:15px;
}

li a {
	text-decoration: none;
	color:#ffffff;
}

h1, h2, h3, h4{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size:96px;
}

h2{
	font-size: 48px;
}

h3{
	font-size:36px;
}

h4{

}

p{

}

a{
}

div{

}

footer{

}

.wrapper{

}

#landing{

}

#intro{

}

#anncarl{

}

#gold_content{

}

#about{

}
