body{
	background:#EBF4FA;
	font-family: 'Karla', serif;
	font-size:16px;
	color:#565051;
}


header{
	width:207px;
	margin:20px auto 40px;
}

section{
	width:80%;
	margin:0 auto;
}

h1{	
	display: block;
	margin:2em 0 0.25em;
	font-size:2.617924em;
	font-weight:600;
	color:#893BFF;
}

h2{
	width:100%;
	font-size: 1.618em;
	border-bottom:3px solid #8E8AE5;
	color:#565051;
	padding:4px;
	margin-bottom:0.5em;
}

h3{
	text-transform: uppercase;
	color:#565051;
}

ul{
	margin:.5em 0 2em;
}

li a{	
	color:#893BFF;
	text-decoration: none;
	
}

li{
	line-height:20px;
	margin:10px 0;
}

.cols{
	width:24%;
	float:left;
	margin:4.5%;
}