body{
	font-family: 'Arial', 'sans-serif';
	font-size: 16px;
    background: #ffffff;
}

a{
	text-decoration: none;	
}

header{
	margin:15px 0 0;
}

nav{
	display:block;
	width:100%;
	z-index:2;
}

label {
  	cursor:pointer;
}

/* -------------------------------------- SEARCH FORM */

form{
	width:100%;
	height:36px;
	margin:1.25em auto;
}

input{
	display: block;
	width:100%;
	max-width:570px;
	margin:0 auto;
	border:0.1em solid #d8d8d8;
	padding:0.5em;
	outline:none;
	font-size:1em;
}

input[type="text"]:hover{
    border: 0.1em solid #b2b2b2;
    outline:none;
}

input[type="text"]:active{
    border: 0.1em solid #00a8e1;
    outline:none;
}

input[type="text"]:focus{
    border: 0.1em solid #00a8e1;
    outline:none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

/* -------------------------------------- FOOTER */

footer{
	bottom:0;
	position:fixed;
	width:100%;
	height:3em;
	border:0.1em solid #e4e4e4;
	padding:0.5em;
	background-color:#f2f2f2;
}

footer a {
	display: inline-block;
	padding:.8em;
	font-size:0.8em;
	color:#666;
	text-decoration:none;
}

footer a:hover{
	color:#000000;
	text-decoration:underline;
	cursor:pointer;
}


.clearfix:after{
	content:'';
	display:block;
	clear:both;
}

/* -------------------------------------- GOOGLE SEARCH / I'M FEELING LUCKY */
.searchbtns{
	background-color: #f5f5f5;
	margin:0 10px;
	border:1px solid #dcdcdc;
	border-radius: 2px;
	display: inline-block;
	color:#444;
	font-size:.7em;
	font-weight:600;
	height:29px;
	line-height:27px;
	padding:0 .7em;
}



/* -------------------------------------- TOP NAV */


#topnav{
	list-style:none;
	float:right;
}

.topnavli{
	display:inline-block;
	padding:0 0.75em;
	vertical-align: middle;
}

.topnavli a {
	text-decoration:none;
	font-size:0.8em;
	color:#404040;
}

.topnavimg{
	cursor: default;
}

.textlink a:hover{
	text-decoration:underline;
}

/* -------------------------------------- ALL PAGES NAV */

.page_icons_wrap{
	padding-top:10px;
	text-align: center;
}

.page_icons_a, .page_icons_wrap {
	display:inline-block;
	width:85px;
	height:100px;
	text-decoration: none;
	font-size:.8em;
	border:0.1em solid #fff;
}

.page_icons_a:link, .page_icons_a:visited, .page_icons_a:hover{
	color:#333;
}

.page_icons_a:hover{
	border:0.1em solid #e4e4e4;
	cursor:pointer;
}

.page_icons_cap{
	padding:10px 0;
}

.more{
	width:100%;
	background-color: #e4e4e4;
	padding:10px 0;
	font-size:.8em;
	color:#fff;
	text-align: center;
	text-decoration: none;	
}

/* -------------------------------------- ALL GIFS PAGE */


#gifs_wrap{
    margin:3em auto;
	width:85%;
	
}

.allgifs{
	margin:0.5em;
	padding:1em;
	width:13em;
	height:14em;
	display:block;
	float:left;
	text-align:center; 
	line-height:14em; 
}

.allgifs_img{
	margin:0 auto;
	position: relative;
    vertical-align:middle;
	width:100%;
}

.sm{
	width:60%;
	margin:0 auto;
}


/* -------------------------------------- ALL PAGES TOGGLE */

#allpages-toggle {
  	display: none; /* hide the checkbox */
}

#allpages {
  	display: none;
}

#allpages-toggle:checked + #allpages {
	background:#ffffff;
	display:block;
	position:fixed;
  	right:1em;
  	width:322px;
  	margin:1.2em 0 0;
  	border:0.1em solid #cbcbcb;
  	border-radius:0.15em;
  	padding:0;
  	z-index:2;
}

#allpages_icons_wrap{
	width:270px;
	margin:0 auto;
	padding:28px 0;
}

/* -------------------------------------- GOOGLE SEARCH */
#search{
	width:50%;
	margin:9em auto 4em;
}

#search img {
	display: block;
	margin:0em auto;
    width:100%;
    max-width:270px;
}

#searchbtnwrap{
	width:253px;
	margin:0 auto;
}

/* -------------------------------------- QUERY RESULTS */

/* query results */
#livesearch{
	z-index: 1000;
	padding:0.75em;
	display:block;
	width:100%;
	background:#ffffff;
	font-size:1.75em;
	font-weight:600;
	line-height:0.8em;
	cursor:default;
}

#livesearch a:link {
    color: #000000;
    text-decoration:none;
    display:block;
    cursor:default;
}

/* visited link */
#livesearch a:visited {
    color: #52188c;
    text-decoration: none;
    display:block;
    cursor:default;
}

/* mouse over link */
#livesearch a:hover {
    color: #00a8e1;
    text-decoration: none;
    display:block;
    height: 100%;
    cursor:default;
}

/* selected link */
#livesearch a:active {
    color: #000000;
    text-decoration: none;
    display:block;
    cursor:default;
}




/* -------------------------------------- ALL GIFS - FB */

#fb0{
	background:#cfe6d4;
}

#fb1{
	background:#e8f7b0;
}

#fb2{
	background:#b7cbff;
}

#fb3{
	background:#c49ace;
}

#fb4{
	background:#bed9da;
}

/* -------------------------------------- ALL GIFS - GOOGLE */

#g0{
	background:#c6cae3;
}

#g1{
	background:#ddf0e4;
}

#g2{
	background:#76c2cd;
}

#g3{
	background:#fae0df;
}

#g4{
	background:#b18bb3;
}

/* -------------------------------------- ALL GIFS - INSTAGRAM */

#ig0{
	background:#fee7d0;
}

#ig1{
	background:#ad5bbf;
}

#ig2{
	background:#d2dcec;
}

/* -------------------------------------- ALL GIFS - IOS */

#ios0{
	background:#c9bdc8;
}

#ios1{
	background:#f26f70;
}

#ios2{
	background:#ffcca6;
}

/* -------------------------------------- ALL GIFS - LINKEDIN */

#li0{
	background:#faffce;
}

#li1{
	background:#c4d2da;
}

#li2{
	background:#f7dbad;
}


/* -------------------------------------- ALL GIFS - TWITTER */

#tw0{
	background:#dcecf7;
}

#tw1{
	background:#ffcb4c;
}

#tw2{
	background:#e4d9e1;
}


