
body{
	background:#EBF4FA;
	font-family: 'Karla', serif;
	font-size:16px;
	color:#565051;
}

h1{	
	display: block;
	margin-top:2em;
	font-size:3em;
	font-weight:600;
}

h2{
	padding:1em;
	font-size:1.618em;
	font-weight:400;
}

p{
	display: block;
	font-size:1.2em;
}

a{
	text-decoration: none;
}

aside{
	float:right;
}

section{
	width:70%;
	margin:3em auto;
}

label {
	display: block;
	float:left;
	width:2.5em;
	margin:1em;
  	cursor: pointer;
}

.tag{
	background:#FFFF00;
	width:9em;
	height:2.5em;
}

.tag p {
	padding:1.2em;
	font-size:0.75em;
	color:#333333;
	text-align: center;
	text-decoration: none;
}

.button{
	width:2.5em;
	height:2.5em;
	background:#FFFF00;
	padding:.5em;
	font-size:1em;
	line-height:1.5em;
	vertical-align: middle;
	color:#333333;
	text-align:center;
}

.button p {
	text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}



/* ------------------- toggle menu -------------------- */

#menu-toggle {
  display: none; /* hide the checkbox */
  margin:0;
}

#menu {
  display: none; /* hide the menu items */
}

/* when toggle is checked, dispaly the menu */
#menu-toggle:checked + #menu {
  display: block;
}

/* ------------------- media queries -------------------- */

@media screen and (max-width:600px){

	nav{
		width:90%;
		margin:1em;
		float:left;
		clear:both;
	}

	.nav_sm{
		display:block;
	}

	.nav_lg{
		display:none;
	}

}
