/*
// up close + personal with CSS

review
> start adding CSS
> shortcut! link a stylesheet
> bug! stylesheet not linking


what is the cascade?
> top to bottom = general to specific
> selector order matters + property order [mostly] doesn't


classes vs id's
http://css-tricks.com/the-difference-between-id-and-class/
> classes occur multiple times, id’s occur once
> naming convention: describe content


for the love of images
> adding images through HTML + file paths
> alt & title
> adding images through CSS 


css shorthand: https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties
> background: url() color position/size repeat 
> margin/padding: N E S W
> border: thickness solid/dotted color
> font: weight style variant(small-caps) size family


color update!
> hex vs color name
create palettes or themes 
> https://color.adobe.com
> http://coolors.co

*/

body{
/*	background-color: #fff;*/
/*	background-image: url("../assets/milkyway.jpg");
	background-repeat: no-repeat;*/
	background: url("../assets/record.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff; 
	font-family: 'Helvetica';
	font-size:24px;
}

div{
/*	background-color:#000;
	width:800px;
	margin:200px auto;*/
}

h1{
}

h2{
}

h3{
	color:#000000;
}

h4{

}

p{

}

a{

}


/*.red{
	color:#FF0000;
}

#blue{
	color:#0000FF;
}*/

