/*
// up close + personal with CSS

review
> start adding CSS
> shortcut! link a stylesheet
> bug! stylesheet not linking


what is the cascade?
> top to bottom = general to specific
> selector order vs property order


classes vs id's
http://css-tricks.com/the-difference-between-id-and-class/
> classes occur multiple times, id’s occur once
> naming convention: describe content


for the love of images
> adding images through HTML + file paths
> alt & title
> adding images through CSS 


css shorthand: https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties
> background: url() color position/size repeat 
> margin/padding: N E S W
> border: thickness solid/dotted color
> font: weight style variant(small-caps) size family


for the love of fonts
> add a backup font!
> font-families built into css: http://cssfontstack.com/


color update!
> hex vs color name
create palettes or themes 
> https://color.adobe.com
> http://coolors.co

semantic code: use the right element!
<header>, not <div id=“header”>
https://developer.mozilla.org/en-US/docs/Web/HTML/Element



*/

body{
	background-color: #566D7E;
	color:#ffffff; 
	font-family: 'Helvetica';
}

h1{
	font-size:96px;
}

h2{
	font-size: 48px;
}

h3{
	font-size:36px;
	color:#ffffff;
}

h4{

}

p{

}

a{

}

div{

}

#title_bg{
	background-image: url("assets/milkyway.jpg");
	width:100%;
	height:750px;
}

#title{
/*	background-color: #000000;*/
	width:610px;
	height:250px;
	padding:250px 0;
	margin:0 auto;
}

.names{
	width:220px;
	color:#000000;
	border-bottom:3px solid #000000;
	padding:10px;
}

/*.blue{
	color:#0000ff;
}

#green{
	color:#00ff00;
}*/
