@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);



*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #DDD2CC;
	font-size: 16px;
	color:#494521;
}

h1, h2, h3, h4, a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h1{
	font-size:3em;
}

h2{
	font-size:2em;
	margin:0 0 1em;
}

h3{
	font-size:1em;
	text-transform: uppercase;
	margin:0 0 .5em;
}

h4{
	font-size:4em;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:.5em;
}

nav{
	width:370px;
	margin:auto;
	padding:1em 0;
}

nav a{
	text-decoration:none;
	text-transform:uppercase;
	margin:1em;
	color:#494521;
}

hr{
	border:none;
	height:.25em;
	width:3em;
	background-color: #fff;
	margin:0 0 1.5em;
}

p, li{
	font-size:1em;
	font-family:'Playfair Display', serif;
}

ul{
	list-style:none;
}

li{
	padding:.2em 0
}

p{
	line-height: 1.618em;
}



footer{
	background-color:#fff;
	padding:5em 0;
}

.wrap{
	width:700px;
	margin:auto;
	padding:5em 0;
}

.column{
	display:inline-block;
}

.column + .column{
	margin:0 0 0 7.25em;
}

.center{
	text-align: center;
}

#title{
	background-color: #fff;
	margin:150px auto 250px;
	padding:64px;
}

#hooray{
/*	image via http://imbreannarose.com/wallpaper-26-lots-of-shapes/*/
	background:url("assets/shapes.png") no-repeat center center fixed;
	background-size:cover;
	padding:10em 0;
	color:#085b6d;
}

#intro{
	background-color:#8C8B93;
	color:#fff;
}

#column-wrap{
	margin:3em 0 0;
}

#services{
	padding:5em 0;
	background-color: #BCB1D6;
}
