body{
	background:#EBF4FA;
	font-family: 'Karla', serif;
	font-size:16px;
	color:#565051;
}

section{
	width:70%;
	margin:3em auto;
}

aside{
	margin:0;
	float:right;
}

h1{	
	display: block;
	margin:2em 0 0.25em;
	font-size:2.617924em;
	font-weight:600;
	color:#8E8AE5;
}

h2{
	display: block;
	font-size: 1.618em;
	text-transform: uppercase;
	margin:0 0 2em 0;
	color:#8E8AE5;
}

h3{
	font-size: 1em;
	font-weight: 600;
	background-color: #FFFF00;
	display: block;
	padding:1em;
}

ul{
	padding:1em;
}

li{
	list-style: square;
	padding:.25em;
}

h2 + p{
	margin:0.5em 0 0;
}

a{	
	color:#893BFF;
	margin:0.5em 1em;
	text-decoration: none;
}

p{
	font-size: 1em;
	line-height:2em;
}

p + h2{
	margin:2em 0 0;
}

.tag{
	background:#FFFF00;
	width:9em;
	height:2.5em;
}

.tag p {
	padding:1.2em;
	font-size:0.75em;
	line-height:1em;
	vertical-align: middle;
	color:#333333;
	text-align: center;
	text-decoration: none;
}