/*http://coolors.co/8c8b93-ddd2cc-494521-576969-bcb1d6*/

body{
	font-size: 16px;
	font-family:sans-serif;
	text-align: center;
}

header{

}

nav{
	
}

main{
	padding:50px;
}

section{
	padding:50px;
	background-color: #000;
	color:#fff;
}

footer{
	padding:50px;
}

h1{
	font-size:48px;
	text-align: center;
	padding:80px;
}

h2{
	font-size:32px;
}

h3{
	font-size:16px;
}

h4{
	font-size:64px;
	text-align:center;
}


p{
	font-size:16px;
	font-family:'Georgia', serif;
}

ul{
	list-style:none;
}

li{
}


a{
	color:purple;
	text-decoration:none;
}

img{
	width:300px;
}


hr{
	border:none;
	height:4px;
	width:48px;
	margin:0 auto;
	background-color: rgba(0,0,0,0.5);
}


div{

}

.navlinks{
	padding:15px;
}

.planets{
	width:350px;
	display: inline-block;
	margin:20px;
}

#hooray{
	background-image:url(assets/carina-nebula.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding:50px;
	color:#fff;
}

