body{
	background-color:#EBF4FA;
	font-family: 'Karla', sans-serif;
	font-size:16px;
	color:#565051;
}

main{
	width:50%;
	margin:3em auto;
}

aside{
	margin:0;
	float:right;
}

h1{	
	margin:2em 0 0.25em;
	font-size:2.617924em;
	font-weight:600;
	color:#565051;
}

h2{
	margin:0 0 1em 0;
	font-size:1.618em;
	text-transform: uppercase;
	color:#8E8AE5;
}

h3{
	background-color:#8E8AE5;
	width:100%;
	margin:0;
	padding:0.75em;
	font-size: 1em;
	text-transform:uppercase;
	letter-spacing:.125em;
	color: #EBF4FA;
}

img{
	width:100%;
}

ul{
	padding:0.5em 1.125em;
	margin: 0 0 2em 0;
}

li{
	list-style: square;
	padding:.25em;
}

a{	
	color:#893BFF;
	text-decoration: none;
}

/* caption following image */
img + p{
	margin:0 0 1.975em 0;
}

/* header following list */
h3 + ul{
	margin:0 0 2em 0;
}
