body{
/*	background: url() color repeat position attachment */


/*	font: weight style variant(small-caps) size family*/
	font:16px Helvetica;
	color:#000; 
}

div{
/*	border: thickness style color*/

}

h1{
}

h2{
}

h3{
	color:#000000;
}

h4{

}

p{

}

a{

}



