/*
// up close + personal with CSS

what is the cascade?
> top to bottom = general to specific
> selector order matters + property order [mostly] doesn't

classes vs id's
> classes occur multiple times, id’s occur once
> naming convention: describe content


for the love of images
> adding images through HTML + file paths
> adding images through CSS 


css shorthand
> background: url() color repeat position attachment 
> margin/padding: N E S W
> 



color update!
> hex vs color name
create palettes or themes 
> https://color.adobe.com
> http://coolors.co

*/

body{
/*	background: url() color repeat position attachment */


/*	font: weight style variant(small-caps) size family*/
	font:16px Helvetica;
	color:#000; 
}

div{
/*	border: thickness style color*/

}

h1{
}

h2{
}

h3{
	color:#000000;
}

h4{

}

p{

}

a{

}



