/*
// up close + personal with CSS

what is the cascade?
> top to bottom = general to specific
> selector order matters + property order [mostly] doesn't

classes vs id's
http://css-tricks.com/the-difference-between-id-and-class/
> classes occur multiple times, id’s occur once
> naming convention: describe content


for the love of images
> adding images through HTML + file paths
> adding images through CSS 


css shorthand: https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties
> background: url() color position/size repeat 
> margin/padding: N E S W
> border: thickness style color
> font: weight style variant(small-caps) size family


color update!
> hex vs color name
create palettes or themes 
> https://color.adobe.com
> http://coolors.co

*/

body{
	background-color: #fff;
/*	add background image*/
	color:#fff; 
	font-family: 'Helvetica';
	font-size:24px;
}

div{
}

h1{
}

h2{
}

h3{
	color:#000000;
}

h4{

}

p{

}

a{

}



