/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

/* Logo */
#logo a {background-image:url('http://wufoo.com/images/themes/logos/shark.png'); min-height:0; height:40px}
* html #logo a {/* IE6 png Support */
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://wufoo.com/images/themes/logos/shark.png", sizingMethod="crop");
}

/* Backgrounds */
html{background-image:none;background-color:#99cc00;font-family:'CutiveMono', sans-serif;}
#logo{display:none !important;}
#container{background:#FFFFFF}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#F4F3FD;}
.wufoo .instruct{background-color:#F4F3FD;}

/* Borders */
#container{border:none;}
.wufoo .info{border-bottom:none}
.wufoo .instruct{border:1px solid #e6e6e6}
.wufoo input.text{border:1px solid #0B3142;}

/* Typography */
.wufoo .info h2{display:none !important;}
.wufoo .info div{display:none !important;}
.wufoo .info div{display:none !important;}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}