@font-face {
  font-family: 'LearningCurve';
  src: url('assets/fonts/LearningCurve.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/LearningCurve.woff') format('woff'), url('assets/fonts/LearningCurve.ttf')  format('truetype'), url('assets/fonts/LearningCurve.svg#LearningCurve') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	font-size:10px;
}

body{
	font-family: 'Open Sans', Arial, sans-serif;
	background-color: #fff;
}

header{
	position: relative;
	top:40%;
	transform:translateY(-50%);
	background-color: rgba(160,234,184,0.5);
	padding:3em;
  	margin:auto;
}

h1, h2{
	font-family: 'LearningCurve';
	text-align: center;
}

h1{
	font-size: 16em;
	color:#0B3142;
}

h2{
	color:#D6D3F0;
	margin:0.25em 0 2em;
}

h3{

}

h4{
	margin:0.2em 0;
	padding:0.75em 0;
	font-weight: 100;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	color:#D6D3F0;
}

h4 + p, p + h4{
	margin:1em 0 0;
}


h4 + h4{
	margin:0;
	padding:0;
}

h5{
	margin:0.2em 0;
	padding:0.75em 0;
	font-weight: 100;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	color:#BF009D;
}

hr{
	width:1.75em;
	margin:0 auto 2em;
	border:none;
	height:3px;
}

p{
	font-size:1.4em;
	line-height: 1.8em;
	letter-spacing:0.04em;
	color:#D6D3F0;
	font-style: italic;
}

a{
	text-decoration:none;
	font:inherit;
}

a:link{
	color:inherit;
}

a:visited{
	color:inherit;
}

a:hover{
	color:#1E6060;
}

a:active{
	color:#BF009D;
}

ul{

}

li{
	font-size: 1.6em;
	letter-spacing: .04em;
	padding:0 0 0.5em;
}

section{
	width:100%;
	padding:9em 0; 
	position: relative;
}

span{
	text-transform:uppercase;
}


/*------------------------------------------ PAGE CLASSES */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.wrap{
	width:90%;
	margin:auto;
}

.row{

}

.col2{
	width:45%;
/*	padding:0 2%;*/
	margin:2.5%;
	float:left;
	
}

.col3{
	width:27.33%;
	min-width: 19em;
	max-width: 458px;
	margin: 0 3%;
	float:left;
}


.greenrules{
	background-color: #A0EAB8;
	margin: 2em 0;
}

.pinkrules{
	background-color: #BF009D;
}



/*------------------------------------------ LANDING CLASSES */


.title{
	width:27.05em;
	margin:0 auto 3em;
}

.titlelines{
	list-style: none;
	display: inline-block;
	padding: 0 1em;
}


/*------------------------------------------ EVENT DETAILS CLASSES */


.eventtitle{
  	font-family: 'LearningCurve', serif;
	font-size: 6em;
	color:#BF009D;
  	text-align: center;
}

.eventinfo{
	font-size:1.25em;
}

.eventtimes{
	font-size:1.25em;
}

.addlink{
	margin:2em 0 0;
}

.address{
	letter-spacing: .09em;
	text-transform: none;
}

/*------------------------------------------ ACCOMMODATIONS CLASSES */

.triptitlemain{
	font-size:11em;
	color:#fff;
	margin:0 0 .15em;
}

.triptitles{
	font-size: 2.5em;
  	font-weight: 600;
  	color: #0B3142;
	text-transform: uppercase;
	letter-spacing:.25em;
}


.leftcol{
	text-align: right;
}



/*------------------------------------------ TRAVEL CLASSES */

.traveltxt{
	color:#BF009D;
	padding:5em 0 0;
	text-transform: 
}

.travelarrow{
	font-size: 9em;
	color:#BF009D;
	margin:.25em .75em;
}

.innercol{
	width:35%;
	padding:0;
	margin:0;
	float:left;
	text-align: center;
}

.outercol{
	width:65%;
	margin:0;
	padding:3em 0;
	float:left;
}



/*------------------------------------------ REGISTRY CLASSES */












/*------------------------------------------ LANDING ID's */


#landing{
	height:100vh;
	background:url(assets/imgs/ljpattern400t.png) repeat;
	background-color: #A0EAB8;
	border:1em solid #0B3142;
}

#gettingmarried{	
	text-align: center;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .25em;
	color:#0B3142;
}

#arrow-down{
	color:#BF009D;
	font-size: 4em;
	position: absolute;
	bottom:.25em;
	left:50%;
	transform:translateX(-50%);
}


/*------------------------------------------ SAVETHEDATE ID's */

#titletxt{
	font-size: .75em;
}


#savethedate{
	background-color: #0B3142;
}

#thedate{
	font-size:11em;
	color:#BF009D;
	margin:0 0 .5em;
}




/*------------------------------------------ EVENT DETAILS ID'S */



#eventdetails{
	background-color: rgba(160,234,184,0.10);
	padding:5.5em 5em;
	margin:9em auto 0;
	max-width:1968px;
}





/*------------------------------------------ ACCOMMODATIONS ID's */


#accommodations{
	background:url(assets/imgs/accommodations1.jpg) no-repeat center center scroll;
	background-size: cover;
	padding:6em 0 18em;
}

#leftrule{
	float:right;
}


/*------------------------------------------ TRAVEL ID's */

#travel{
	background-color: #D6D3F0;
	color:#BF009D;
}

#traveltitle{
	font-size:11em;
	color:#0B3142;
	margin:0 0 .15em;
}


/*------------------------------------------ REGISTRY ID's */

#registry{
	height:10em;
}




@media only screen and (max-width: 1415px){
	header{
		width:100%;
	}

	#eventdetails{
		padding:5.5em 1em;
	}
}


@media only screen and (max-width: 1272px){
	.col3{
		width:38%;
		margin: 0 6%;
	}

	.eventtitle{
		font-size: 8em;
	}

	.innercol{
		width:45.5%;
	}

	.outercol{
		width:54.5%;
	}

	#eventdetails{
		padding:5.5em 2em;
	}

	#afterparty{
		clear:both;
		float:none;
		margin:0 auto;
		padding:5.5em 0 0;
		width:100%;
	}

	#savethedate{
		padding:9em 0 4em;
	}

}

@media only screen and (max-width: 960px){
	.col3{
		width:100%;
		float:none;
		margin:0 auto 5em;
	}

	.col2{
		width:60%;
		margin:3em auto 4em;
		float:none;
		text-align:center; 
	}

	.innercol{
		width:50%;
	}

	.outercol{
		width:50%;
	}

	.traveltxt{
		padding: 4em 0 0;
	}

	.leftcol{
		text-align: center;
	}

	.greenrules{
		margin: 2em auto;
	}

	#afterparty{
		padding:0;
	}

	#eventdetails{
		padding:5.5em 2em;
		margin:9em 0 0;
	}

	#leftrule{
		float:none;
	}
}


@media only screen and (max-width: 700px){
	header{
		top:0%;
		transform:none;
	}

	h1{
		line-height: .5em;
		margin:0 0 .5em;
	}

	.block{
		display: block;
	}

	.col2{
		width:80%;
	}

	.triptitlemain{
		font-size:9em;
	}

	#landing{
		height:auto;
		border:none;
	}
}


@media only screen and (max-width: 514px){
	.wrap{
		width:100%
	}

	.col2{
		width:88%;
	}

	.col3{
		min-width: 0;
	}

	.triptitlemain{
		font-size:8em;
	}



	#eventdetails{
		padding:5.5em 2em 7.5em;
	}

	#savethedate{
		padding:9em 0 0;
	}


}

@media only screen and (max-width: 400px){
	h1{
		line-height: .5em;
	}

	.col2{
		width:100%;
	}
}



