@font-face {
  font-family: 'LearningCurve';
  src: url('assets/fonts/LearningCurve.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/LearningCurve.woff') format('woff'), url('assets/fonts/LearningCurve.ttf')  format('truetype'), url('assets/fonts/LearningCurve.svg#LearningCurve') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	font-size:10px;
}

body{
	font-family:'Courier New','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
	background-color: #D6D3F0;
	color:#0B3142;
	text-align: center;
}

header{
	position: relative;
	top:40%;
	transform:translateY(-50%);
}

h1, 
h2,
h3{
	font-family: 'LearningCurve';
}

h1{
	font-size: 16em;
	line-height: .75em;
}

h2{
	font-size: 11em;
}

h4{
	margin:0 0 1em;
	font-size:2em;
	line-height: 1.4em;
	text-align: center;
}

p{
	font-size:1.8em;
	line-height: 1.6em;
	margin:1.5em 0;
	text-align: inherit;
}

a:link{
	border-bottom: 1px dotted;
	text-decoration:none;
	color:inherit;
}

a:visited{
	color:inherit;
}

a:hover{
	border-bottom: 2px solid;
}

a:active{
	color:inherit;
}

main section{
	padding:2em 0;
	height: 915px;
	width:27.5%; 
	float:left;
}

main h4{
	font-size:2.2em;
}

section, 
footer{
	width:100%;
	padding:3em 0; 
	position: relative
}

footer{
	background:url(assets/imgs/saturday.JPG) no-repeat center center scroll;
	background-size: cover;
	color:#107095;
	height:100vh;
}

figure{
	width:50%;
	padding: 0 1%;
	float:left;
}

figure img{
	display: block;
	width:60%;
	margin:auto;
}

figcaption{
	font-family: 'LearningCurve';
	font-size: 6em;
	text-align: center;
	margin:0.5em 0 0;
	color: #0B3142;
}

figcaption + p{
	font-size: 1.6em;
	margin: 0;
}

img{
	width:100%;
	display: block;
}

sup{
	vertical-align: super;
	font-size: smaller;
	color:#F4F3FD;
	padding:0 2px;
}

address{
	margin:2em 0 0;
	padding:1em 0;
	text-align: center; 
	font-size:1.8em;
	line-height: 1.4em;
	letter-spacing: .09em;
	color:inherit;
	
}

address a{
	border-bottom: 1px dotted;
}


address a:hover{
	border-bottom: 2px solid;
}



/*------------------------------------------ PAGE CLASSES */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.wrap{
	width:90%;
	margin: 3em auto 0;
}

.arrow{
	font-family: sans-serif;
	font-size: 3em;
	font-weight: lighter;
	line-height: .8em;
	margin:.05em;
}

.arrow_link{
	color:inherit;
	font-size: .75em;
	text-align: center;
	position: absolute;
	bottom:0em;
	left:50%;
	transform:translateX(-50%);
}

.arrow_link p{
	margin:0;
}

.col2{
	width: 50%;
	float:left;
	height: 750px;
	padding:3% 5%;
}

.col3{
	width:30.33%;
	min-width: 324px;
	max-width: 458px;
	margin: 0 1.5%;
	padding:1.5%;
	float:left;
}

.col3 img{
	width:50%;
	margin:auto;
}

.col3 h3{
	font-family:'Courier New','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
	font-size: 2.4em;
	margin:1em 0 0;
}

.col3 p{
	text-align: left;
	margin:0 0 2em;
}

.card{
	width:100%;
	padding:0 12% 10%;
	color:inherit;
	text-align: left;
}

.small{
	font-size: 1.4em;
}

/*------------------------------------------ landing */

#landing{
	background:url(assets/imgs/ljpattern400t.png) repeat;
	background-color: #F4F3FD;
	height:100vh;
	position: relative;
}

#overlay{
	background-color: rgba(244,243,253,0.65);
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
}

#gettingmarried{	
	font-size: 2.2em;
	letter-spacing: .4em;
	margin:0;
}

/*------------------------------------------ join us */

#joinus{
	background-color: #FDFCF3;
	color:#107095;
}

#joinus h2{
	margin:0.1em 0 .5em;
	color: #107095;
}

#portraits{
	padding:0 8% 5%;
	margin:0 auto 2em;
	width:75%;
}

/*------------------------------------------ event details */

#toast{
	background-color: #D6D3F0; 
	color:#57537D;
}

#wedding{
	width:45%; 
	background-color: #9A98B0;
	padding:3em 0; 
}

#afterparty{
	background-color: #57537D;
	color:#D6D3F0;
}

#toast h3, 
#afterparty h3{
	font-size:6em;
	padding:1em 0 0.5em;
}

#wedding h3{
	font-size:11em;
	margin:.25em 0 .15em;
}


/*------------------------------------------ travel */

#travel{
	background-color: #B7CDD5;
	height: 750px;
}

#travel h3{
	font-family:'Courier New','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
	font-size: 2.4em;
	margin:1em 0;
}

/*------------------------------------------ accommodations */

#accommodations{
	background-color: #0B3142;
	color:#107095;
	height: auto;
	padding:3em 0 8em;
}

#accommodations .col3{
	color:#F4F3FD;
	-webkit-transition: all .15s ease .15s;
    -moz-transition: all .15s ease .15s;
    -o-transition: all .15s ease .15s;
	transition: all .15s ease .15s;
	height:360px;
}

#accommodations .col3:hover{
	background-color: #107095;
	color:#fff;
}

/*------------------------------------------ rsvp & registry */

#rsvp_reg{
	margin: 0;
	padding:0;
} 

#rsvp{
	background-color: #107095; 
}

#form{
	width:325px;
	margin:2em auto 0;
	padding:2em 2em 0;
}

#registry{
	background-color: #B7CDD5;
}

#registry_link{
	width:3em;
	font-size: 6em;
	line-height: 0;
	background-color:#107095;
	padding:1em;
	border:none;
	display: block;
	margin:1em auto 0;
	text-align: center;
	-webkit-transition: all .15s ease .15s;
    -moz-transition: all .15s ease .15s;
    -o-transition: all .15s ease .15s;
	transition: all .15s ease .15s;
}

#registry_link:hover{
	background-color: #0B3142;
	color: #107095;
}

@media screen and (max-width:1190px){
	main section{
		height: auto;
		width:100%; 
		float:none;
	}

	.col3{
		width:80%;
		float:none;
		min-width: auto;
		max-width: 1000px;
		margin:0 auto;
		padding:0;
	}

	.col3:nth-of-type(3){
		margin:0 auto 10%;
	}

	.col3 img{
		display: block;
		width: 37%;
		padding: 3% 12% 0 0;
		margin:auto;
		float: left;
	}

	.travel_txt{
		width: 63%;
		padding:2% 0 0;
		float: left;
	}

	.card{
		width:80%;
		padding:0 6%;
		margin:0 auto 10%;
	}

	#portraits{
		width:80%;
	}

	#toast h3, 
	#afterparty h3{
		font-size:11em;
		margin:.25em 0 .15em;
		padding: 0;
	}

	#wedding{
		width:100%;
	}

	#travel{
		height:auto;
	}

	#accommodations .col3{
		color:#F4F3FD;
		width:60%;
		padding:1% 6%;
		height:auto;
		min-width: 522px;
	}

	#accommodations p{
		text-align: center;
	}
}
@media screen and (max-width:1000px){

	header{
		position: static;
		top:0%;
		transform:translateY(0%);
		padding-top:15vh;
	}
	.break{
		display: block;
	}

	h1{
		line-height: 0.5em;
		margin:0 0 0.35em;
	}

	#joinus{
		height:780px;
	}

	#portraits{
		padding:0;
	}
}

@media screen and (max-width:811px){
	.col2{
		width: 100%;
		float:none;
		height: auto;
		padding:3% 10% 12%;
	}

	.col3:nth-of-type(3){
		margin:0 auto 15%;
	}

	.col3 img{
		display: block;
		width: 50%;
		padding: 0 5%;
		margin:auto;
		float: none;
		min-width: 250px;
	}

	.travel_txt{
		width: 100%;
		padding:2% 0 0;
		float: none;
	}

	#travel h3{
		margin:0 0 1em;
	}

	#portraits{
		width:100%;
	}
}

@media screen and (max-width:600px){
	figure{
		width:100%;
		float: none;
		margin:5% auto 10%;
	}

	figcaption{
		margin:0;
		font-size: 9em;
	}

	.wrap{
		width:100%;
	}

	.card{
		width:100%;
	}

	.col3{
		width:100%;
		padding: 0 6%;
	}

	#joinus{
		height: auto;
		padding:3em 0 6em;
	}

	#toast h3, 
	#afterparty h3{
		font-size:9em;
		margin:.25em 0 .15em;
		padding: 0;
	}

	#wedding h3{
		font-size:9em;
	}

	#accommodations .col3{
		width:100%;
		padding: 1% 6%;
		min-width: auto;
	}

	h2{
		font-size: 9em;
	}
}

@media screen and (max-width:540px){
	h1{
		font-size: 13em;
	}

	h2,
	figcaption{
		font-size: 8em;
	}
	.col2{
		padding: 3% 10% 20%;
	}

	.col3:nth-of-type(3) {
    	margin: 0 auto 22%;
	}

	#gettingmarried{
		letter-spacing: 0.2em;
	}

	#joinus h2,
	#toast h3, 
	#wedding h3,
	#afterparty h3{
		font-size:8em;
	}

}











