@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

@font-face {
  font-family: 'LearningCurve';
  src: url('assets/fonts/LearningCurve.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/LearningCurve.woff') format('woff'), url('assets/fonts/LearningCurve.ttf')  format('truetype'), url('assets/fonts/LearningCurve.svg#LearningCurve') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	font-size:10px;
}

body{
	font-family: 'Cutive Mono', sans-serif;
	/*background-color: #D6D3F0;*/
	background-color: #fff;
}

header{
	position: relative;
	top:40%;
	transform:translateY(-50%);
	background-color: rgba(244,243,253,0.7);
	padding:3em;
  	margin:auto;
}

h1, h2{
	font-family: 'LearningCurve';
	text-align: center;
}

h1{
	font-size: 16em;
	color:#0B3142;
	line-height: .75em;
}

h2{
	color:#0B3142;
	margin:0.25em 0 2em;
}

h3{

}

h4{
	margin:0em 0;
	padding:0.25em 0;
	font-weight: 100;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	color:#D6D3F0;
}

h4 + p, p + h4{
	margin:1em 0 0;
}

h5{
	color:inherit;
	font-size: 1.8em;
	text-align: center;
}

hr{
	width:1.75em;
	margin:0 auto 2em;
	border:none;
	height:3px;
}

p{
	font-size:1.8em;
	line-height: 1.6em;
/*	letter-spacing:0.03em;*/
/*	color:#D6D3F0;*/
/*	font-style: italic;*/
}

a{
	text-decoration:none;
	font:inherit;
}

a:link{
	color:inherit;
}

a:visited{
	color:inherit;
}

a:hover{
	color:#1E6060;
}

a:active{
	color:#BF009D;
}


li{
	font-size: 1.6em;
	letter-spacing: .04em;
	padding:0 0 0.5em;
}



section{
	width:100%;
	padding:7em 0; 
}


figure{
	width:50%;
	padding: 0 1%;
	float:left;
}

figure img{
	display: block;
	width:60%;
	margin:auto;
}

figcaption{
	font-family: 'LearningCurve';
	font-size: 5.5em;
	text-align: center;
	font-weight: 300;
}

figcaption + p{
	text-align: center;
	font-size: 1.6em;
}
sup{
	vertical-align: super;
	font-size: smaller;
	color:#BF009D;
	padding:0 2px;
}

span{
	margin:.05em;
}

img{
	width:100%;
	display: block;
}

svg{
	width:50px;
	height:1px;
	fill:currentColor;
}


/*------------------------------------------ PAGE CLASSES */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.wrap{
	width:90%;
	margin:auto;
}

.col2{
	width:45%;
/*	padding:0 2%;*/
	margin:2.5%;
	float:left;
	
}

.col3{
	width:27.33%;
	min-width: 19em;
	max-width: 458px;
	margin: 0 3%;
	float:left;
}

.greenrules{
	background-color: #BCFFD2;
	margin: 2em 0;
}

.pinkrules{
	background-color: #BF009D;
}



/*------------------------------------------ LANDING CLASSES */








/*------------------------------------------ EVENT DETAILS CLASSES */


.eventtitle{
  	font-family: 'LearningCurve', serif;
	font-size: 6em;
	color:#BF009D;
  	text-align: center;
  	font-weight: 300;
}

.eventinfo{
	font-size:1.25em;
}

.eventtimes{
	font-size:1.25em;
}

.addlink{
	margin:2em 0 0;
	padding:1em;
/*	border:1px solid #D6D3F0;*/
}

.address{
	letter-spacing: .09em;
	text-transform: none;
}

/*------------------------------------------ ACCOMMODATIONS CLASSES */

.triptitlemain{
	font-size:11em;
	color:#fff;
	margin:0 0 .15em;
}

.triptitles{
    font-size: 5.5em;
    font-weight: 600;
    color: #0B3142;
    font-family: 'LearningCurve';
    /* letter-spacing: .25em; */
    margin: .25em 0 0;
     text-align: center; 
}


/*------------------------------------------ TRAVEL CLASSES */

.traveltxt{
	color:#0B3142;
	padding:1em 0 0;
	font-style:normal;
}

.travelarrow{
	font-size: 4em;
	color:#BF009D;
	margin:.25em .5em 1em;
	text-align:center;
	float: left;
}

.innercol{
	width:35%;
	padding:0;
	margin:0;
	float:left;
	text-align: center;
}

.outercol{
	width:65%;
	margin:0;
	padding:3em 0;
	float:left;
}

.block{
	text-transform: none;
}


/*------------------------------------------ REGISTRY CLASSES */












/*------------------------------------------ LANDING ID's */


#landing{
	height:100vh;
	background:url(assets/imgs/ljpattern400t.png) repeat;
	background-color: #F4F3FD;
/*	border:1em solid #0B3142;*/
}

#gettingmarried{	
	text-align: center;
	font-size: 2em;
	font-family: 'Cutive Mono', sans-serif;
/*	font-weight: 600;
	text-transform: uppercase;*/
	letter-spacing: .25em;
	color:#0B3142;
	margin:0;
}

#arrow-down{
	font-family: sans-serif;
	color:#0B3142;
	font-size: 3.5em;
	position: absolute;
	bottom:.25em;
	left:50%;
	transform:translateX(-50%);
	font-weight: 100;
}




/*------------------------------------------ SAVETHEDATE ID's */

#joinus{
	color: #D6D3F0;
	background-color:#0B3142;
}

#portraits{
	width:65%;
	margin:2em auto 5em;
	padding:5em 5%;
	background-color: #F4F3FD;
	color:#0B3142;
}

#thedate{
	font-size:9em;
	color: #BF009D;
	margin:0.1em 0;
}




/*------------------------------------------ EVENT DETAILS ID'S */



main{
	background-color: #004245;
/*background-color: #D6D3F0;*/
	padding:7em 5em;
	max-width:1968px;
}





/*------------------------------------------ ACCOMMODATIONS ID's */


#accommodations{
	background:url(assets/imgs/accommodations1.jpg) no-repeat center center scroll;
	background-size: cover;
	padding:6em 0 18em;
}

#leftrule{
	float:right;
}


/*------------------------------------------ TRAVEL ID's */

#travel{
	background-color: #D6D3F0;
	color:#fff;
}

#traveltitle{
	font-size:11em;
	color:#0B3142;
	margin:0 0 .15em;
}


/*------------------------------------------ REGISTRY ID's */

#registry{
	background-color: #0B3142;
}




@media only screen and (max-width: 1415px){
	header{
		width:100%;
	}

	main{
		padding:5.5em 1em;
	}
}


@media only screen and (max-width: 1272px){
	.col3{
		width:38%;
		margin: 0 6%;
	}

	.eventtitle{
		font-size: 8em;
	}

	.innercol{
		width:45.5%;
	}

	.outercol{
		width:54.5%;
	}

	main{
		padding:5.5em 2em;
	}

	#afterparty{
		clear:both;
		float:none;
		margin:0 auto;
		padding:5.5em 0 0;
		width:100%;
	}

	#joinus{
		padding:9em 0 4em;
	}

}

@media only screen and (max-width: 960px){
	.col3{
		width:100%;
		float:none;
		margin:0 auto 5em;
	}

	.col2{
		width:60%;
		margin:3em auto 4em;
		float:none;
		text-align:center; 
	}

	.innercol{
		width:50%;
	}

	.outercol{
		width:50%;
	}

	.traveltxt{
		padding: 4em 0 0;
	}

	.leftcol{
		text-align: center;
	}

	.greenrules{
		margin: 2em auto;
	}

	#afterparty{
		padding:0;
	}

	main{
		padding:5.5em 2em;
		margin:9em 0 0;
	}

	#leftrule{
		float:none;
	}
}


@media only screen and (max-width: 700px){
	header{
		top:0%;
		transform:none;
	}

	h1{
		line-height: .5em;
		margin:0 0 .5em;
	}

	.block{
		display: block;
	}

	.col2{
		width:80%;
	}

	.triptitlemain{
		font-size:9em;
	}

	#landing{
		height:auto;
		border:none;
	}
}


@media only screen and (max-width: 514px){
	.wrap{
		width:100%
	}

	.col2{
		width:88%;
	}

	.col3{
		min-width: 0;
	}

	.triptitlemain{
		font-size:8em;
	}



	main{
		padding:5.5em 2em 7.5em;
	}




}

@media only screen and (max-width: 400px){
	h1{
		line-height: .5em;
	}

	.col2{
		width:100%;
	}
}



