/*up close + personal with CSS
// know the cascade better than you ever wanted to


review
> comments in HTML & CSS
> shortcut! link a stylesheet
> file paths




what is a selector?
> tag is to HTML as selector is to CSS
> how html + css work together
> tags & selectors are semantic

semantic: use the right element!
https://developer.mozilla.org/en-US/docs/Web/HTML/Element

--

what is a cascade?
top to bottom = general to specific
> how do we do know what’s specific?
> order matters: selector, class, id
> order does not matter: name your property

*/


body{
/*	background: url("../assets/space.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: 'Helvetica', 'Arial', sans-serif;
	color:#8BFFC6;

}

h1{
	
	
}

h2{
/*	font-family: 'Times New Roman';*/
}

ul{

}

li{

}

p{

}

.class{

}

#id{}

/*

did u read? —> classes vs id's
http://css-tricks.com/the-difference-between-id-and-class/
> classes occur multiple times, id’s occur once
> naming convention: describe content

css shorthand
> background: url() color position/size repeat 
> margin/padding: N E S W
> border: thickness solid/dotted color
> font: weight style variant(small-caps) size family
*/

div{ 
	background: url("assets/astronaut.png");
	width:200px;
	height:100px;
	border: 1px solid #000000;

	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
/*	display:inline;*/
/*
	margin:10px 10px 10px 10px;

	margin:10px;
	margin:10px auto;*/
}

#special{
	background-color:blue;
}

.red{
	background-color:red;
}


div p{
	color:red;
}


/*#redsquare{
	width:100px;
	height:150px;
	background:#FF0000;
}*/




/*
for the love of images
> adding images through HTML
> file paths
> adding images through CSS 
> alt & target

for the love of fonts
{ font-family: helvetica, arial, sans-serif; } vs { font-family: sans-serif; }
> font-families built into css:
http://cssfontstack.com/

color update!
color:red; is just as bad as margin:auto;
hex = fully supported by browsers
create palettes or themes - https://color.adobe.com

*/
