/*
> web fonts vs local fonts
web fonts stored online, render from code
adding local font will only render if user also has font
don’t assume! use web fonts

> adding web fonts
google fonts: http://www.google.com/fonts
font squirrel: http://www.fontsquirrel.com/

> using fonts in CSS
use body{ } to set a main typeface for your pages
use p{ } and h{ } to get specific
12-16px body copy
headers follow golden ratio (1.618)

> serif vs sans-serif
general rule: serif for body copy vs sans-serif for headers
serifs are best for block of text, because:
	- our eyes like to connect visual elements
	- serifs lead the eye from letter to letter

> text-rendering
optimizeLegibility allows for typeface-defined kerning & ligatures
better readability + longer render time = * avoid on mobile sites * 
optimizeSpeed renders faster
*/


body{
	margin:0;
	padding:0;
	background: #FFFFFF;
	font-family: 'Times New Roman', serif;
	font-size: 16px;
	color:#333333;
}



h1, h2, h3{
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
	color:#FF3333;
	margin-bottom:50px;
	font-size:41.886784px;
	text-align: center;
}

h2{
	margin:0;
	padding-left:10px;
	font-size:25.88800px;
}

h3{
	margin-bottom:10px;
	font-weight:800;
	color:#333333;
}


p{
	margin:0 0 40px 0;
	padding:10px;
}


/* ------------------------- serif vs sans, leading, kerning */
#serif{
	width:550px;
	margin:0 auto;
}

#sans{
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#leading{
	line-height:18px;
}

#kerning{
	letter-spacing:-2px;
}

/* ------------------------- contrast */
#contrast{
	width:550px;
	margin:0 auto;
}

#good{
	background: #E5E4E2;
}

#lousy{
	background: #1F45FC;
}

/* ------------------------- measure */
#measure{
	width:1000px;
	margin:0 auto;
}

#toowide{
	width:1000px;
}

#toonarrow{
	width:150px;
}

#goodmeasure{
	width:500px;
}